body {
    font-family: 'Times New Roman';
}

.inputWidth {
    width: 345px;
    margin-left:20px;
}

.ciCo {
    margin-left: 15px;
    width: 730px;
}
.submit {
    margin-left: 20px;
}
.my-input {

    margin-top: 5px;
    margin-bottom: 5px;
    width: 750px;
    margin-left:5px;
    /*margin: 0 auto;*/
}

ul.product-details {
    
    font-size: small;
    text-align: right;
    text-shadow: 1px .5px #ffffff;
    padding-right: 10px;
}

    ul.product-details li {
       
        color: #000000;
        list-style-type: disc;
        text-align: left;
        font-size:15px;
    }

.cor-image{
    
    max-height:650px;
}

.my-image {
    max-height: 700px;
    max-width: 400px;
}

.container {
    border: 3px solid #0026ff;
    position: relative;
    width: 50%;
    display: inline-block;
    max-height: 700px;
    max-width: 400px;
    border-radius: 20px;
    margin: 10px;

}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    backface-visibility: hidden;
}

.middle {
    transition: 1s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    transition: 1s ease;
    opacity: 0.5;
}

.container:hover .middle {
    opacity: 1;
}

#cor h5 {
    font-size: 30px;
}