
<h2>@ViewBag.Title</h2>

<div class="container">
    <h2>Pink Frock</h2>
    <img src="~/img/dress2.jpg" alt="DressImage" class="image my-image" style="width:100%">
    <div class="middle">
        <div class="dtail-list">
            <ul class="product-details">

                <li><b>Dress Code: #0001</b></li>
                <li><b>Dress Name: White Forck</b></li>
                <li><b>Price:Rs 15,999.00</b></li>
                <li><b>Shop: Fashion Bug</b></li>

            </ul>
        </div>
        <div>
            <button id="buyButton" class="btn btn-primary btn-sm"> Buy me </button>
        </div>

    </div>
    </div>
